@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
.fragment,
.fragment::before,
.fragment::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.faqTitle{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2rem;
    background-color:#0262bb49;
}

section{
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    background-color:#0262bb49;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,0.1);
}
.accordion-link{
    font-size: 1.3rem;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.accordion-link .fa-arrow-up{
    display: none;
}

.accordion-link i{
    color: black;
    padding: 0.5rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}
.answer::before{
    content:"";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: aqua;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    font-size: 1rem;
    padding: 2rem;
}
.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .fa-arrow-down{
    display: none;
}
.accordion-item:target .accordion-link .fa-arrow-up{
    display: block;
}
